:root {
    --global-width: 1200px;
    --background-color: #FFF2FF;
    --font-color: #990000;
    --navigation-border-color: #FDAEB6;
    --navigation-button-size: 60px;
    --navigation-button-size-hover: 65px;
    --section-color: #000000;
    --section-background: #FFFFFF;
    --section-border-radius: 30px;
    --section-margin-bottom: 20px;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Georgia, Times New Roman, Times, serif;
    font-style: italic;
    max-width: var(--global-width);
    margin-left: auto;
    margin-right: auto;
}

header h1, header h2, header address {
    text-align: center;
}

header h1, header h2 {
    font-weight: bold;
}

header h1 {
    font-size: 300%;
    line-height: 0;
}

header h1::before, header h1::after {
    content: "'";
}

header h2 {
    font-size: 200%;
}

header address {
    font-size: 150%;
}

header address a::before, header address a::after {
    content: "'";
}

header nav ul, footer nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-height: calc(var(--navigation-button-size-hover) + 5px);
}

header nav ul li a, footer nav ul li a {
    text-decoration: none;
    color: var(--font-color);
}

footer nav ul {
    justify-content: space-around;
}

header nav ul li, footer nav ul li {
    display: inline-block;
    width: var(--navigation-button-size);
    height: var(--navigation-button-size);
    list-style: none;
    font-size: 100%;
    font-style: normal;
    border-color: var(--navigation-border-color);
    border-width: 2px;
    border-style: solid;
    border-radius: calc(var(--navigation-button-size)/2);
    text-align: center;
    vertical-align: middle;
    line-height: var(--navigation-button-size);
    background-image: radial-gradient(ellipse farthest-corner at 50% 10%, white, #EFCEDB);
    transition-property: all;
    transition-duration: 150ms;
}

header nav ul li.wide-text {
    font-size: 90%;
}

header nav ul li:hover, footer nav ul li:hover {
    width: var(--navigation-button-size-hover);
    height: var(--navigation-button-size-hover);
    border-radius: calc(var(--navigation-button-size-hover)/2);
    text-shadow: 5px 5px 3px white;
    font-size: larger;
    line-height: var(--navigation-button-size-hover);
}

main section {
    background: var(--section-background);
    border-radius: var(--section-border-radius);
    border-style: solid;
    border-color: var(--section-background);
    border-width: 1px;
    padding: var(--section-border-radius);
    padding-left: 20%;
    margin-bottom: var(--section-margin-bottom);
}

main section h1 {
    font-size: 115%;
}

main section h2 {
    font-size: 105%;
}

main section h3 {
    font-size: 102%;
    color: black;
}


main section p {
    color: var(--section-color);
}

main section a {
    color: var(--font-color);
}

main section ul {
    color: black;
}