:root {
    --background-color: #FFF2FF;
    --font-color: #990000;
    --navigation-border-color: #FDAEB6;
    --navigation-button-size: 60px;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Georgia, Times New Roman, Times, serif;
    font-style: italic;
}

header h1, header h2, header address {
    text-align: center;
}

header h1, header h2 {
    font-weight: bold;
}

header h1 {
    font-size: 300%;
    line-height: 0;
}

header h1::before, header h1::after {
    content: "'";
}

header h2 {
    font-size: 200%;
}

header address {
    font-size: 150%;
}

header address a::before, header address a::after {
    content: "'";
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header nav ul li {
    display: inline-block;
    width: var(--navigation-button-size);
    height: var(--navigation-button-size);
    list-style: none;
    font-size: 125%;
    border-color: var(--navigation-border-color);
    border-width: 2px;
    border-style: solid;
    border-radius: calc(var(--navigation-button-size)/2);
    text-align: center;
    vertical-align: middle;
    line-height: var(--navigation-button-size);
}