        <footer>
            <nav>
                <ul>
                    <li>links</li>
                    <li>regels</li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
