        <footer>
            <nav>
                <ul>
                    {{ #links }}
                    <li><a href="{{{ href }}}">{{{ label }}}</a></li>
                    {{ /links }}
                </ul>
            </nav>
        </footer>
    </body>
</html>
