        <footer>
            <nav>
                <ul>
                    {{ #links }}
                    <li><a href="{{{ href }}}">{{{ label }}}</a></li>
                    {{ /links }}
                    <li><a href="https://www.facebook.com/BabsBalletschool-2025988964395781/" target="_blank">facebook</a></li>
                </ul>
            </nav>
        </footer>
        <script src="resources/js/konami.js"></script>
    </body>
</html>
