<!doctype html>
<html>
    <!-- Veur mijn lief XXX -->
    <head>
        <meta charset="UTF-8">
        <title>De Balletboetiek - Klassiek ballet en workshops in Elst</title>
        <link rel="stylesheet" href="resources/css/balletboetiek.css">
    </head>
    <body>
        <header>
            <h2>balletschool</h2>
            <h1>De Balletboetiek</h1>
            <address>
                Dansstudio <a href="http://www.kultuurklup.nl/">Kultuurklup</a><br>
                Dorpsstraat 39<br>
                Elst<br>
            </address>
            <nav>
                <ul>
                    {{ #navigation }}
                    <li class="{{{ class }}}"><a href="{{{ href }}}">{{{ label }}}</a></li>
                    {{ /navigation }}
                </ul>
            </nav>
        </header>
