<!doctype html>
<html>
    <!-- Veur mijn lief XXX -->
    <head>
        <meta charset="UTF-8">
        <title>Babs Balletschool - Klassiek ballet en workshops in Elst</title>
        <link rel="stylesheet" href="/resources/css/balletboetiek.css">
    </head>
    <body>
        <header>
            <h1>Babs Balletschool</h1>
            <address>
                Dansstudio <a href="http://theaterdekik.nl/">Theater de KiK</a><br>
                Dorpsstraat 39<br>
                Elst<br>
            </address>
            <nav>
                <ul>
                    {{ #navigation }}
                    <li class="{{{ class }}}"><a href="{{{ href }}}">{{{ label }}}</a></li>
                    {{ /navigation }}
                </ul>
            </nav>
        </header>
