{{> header }}
        <main>
            <div class="where"><span>{{{ here }}}</span></div>
            <section>
                <h1>Rooster seizoen {{ period.start }} &mdash; {{ period.end }}</h1>
                <p>
                    Het dansseizoen loopt van {{ period.date.start }} {{ period.start }}
                    tot en met {{ period.date.end }} {{ period.end }}.
                    (&plusmn; {{ period.weeks }} lesweken)
                </p>
                <table>
                    <thead>
                        <tr>
                            <th>Tijd</th>
                            <th>Maandag</th>
                            <th>Dinsdag</th>
                            <th>Woensdag</th>
                            <th>Donderdag</th>
                            <th>Vrijdag</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#timetable}}
                            <tr>
                                <td>{{ time.start }} - {{ time.end }}</td>
                                {{#days}}
                                <td>
                                    {{#monday}}
                                        <h3>{{ class }}</h3>
                                        <p>{{ description }}</p>
                                        <ul>
                                            {{#notes}}
                                            <li>{{ text }}</li>
                                            {{/notes}}
                                            {{#teacher}}<li>({{ teacher }})</li>{{/teacher}}
                                        </ul>
                                    {{/monday}}
                                </td>
                                <td>
                                    {{#tuesday}}
                                        <h3>{{ class }}</h3>
                                        <p>{{ description }}</p>
                                        <ul>
                                            {{#notes}}
                                            <li>{{ text }}</li>
                                            {{/notes}}
                                            {{#teacher}}<li>({{ teacher }})</li>{{/teacher}}
                                        </ul>
                                    {{/tuesday}}
                                </td>
                                <td>
                                    {{#wednesday}}
                                        <h3>{{ class }}</h3>
                                        <p>{{ description }}</p>
                                        <ul>
                                            {{#notes}}
                                            <li>{{ text }}</li>
                                            {{/notes}}
                                            {{#teacher}}<li>({{ teacher }})</li>{{/teacher}}
                                        </ul>
                                    {{/wednesday}}
                                </td>
                                <td>
                                    {{#thursday}}
                                        <h3>{{ class }}</h3>
                                        <p>{{ description }}</p>
                                        <ul>
                                            {{#notes}}
                                            <li>{{ text }}</li>
                                            {{/notes}}
                                            {{#teacher}}<li>({{ teacher }})</li>{{/teacher}}
                                        </ul>
                                    {{/thursday}}
                                </td>
                                <td>
                                    {{#friday}}
                                        <h3>{{ class }}</h3>
                                        <p>{{ description }}</p>
                                        <ul>
                                            {{#notes}}
                                            <li>{{ text }}</li>
                                            {{/notes}}
                                            {{#teacher}}<li>({{ teacher }})</li>{{/teacher}}
                                        </ul>
                                    {{/friday}}
                                </td>
                                {{/days}}
                            </tr>
                        {{/timetable}}
                    </tbody>
                    <tbody></tbody>
                </table>
            </section>
            {{{ stories }}}
        </main>
{{> footer }}

